//LAYOUT
@import 'compass/css3';
@import 'compass/utilities';
@import 'compass/typography/vertical_rhythm';
@import 'bourbon','neat';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

.container {@include outer-container;
            width:100%;}

.fullscreen{display:block;
            width:100vw;
            width:100%;
            height:100vh;
            padding:rhythm(1);
            position:relative;}
#whisky-map {display:block;
             position:relative;
             width:100vw;
             width:100%;
             min-width:800px;
             height:700px;
           background:$peach;}
.timeline {          @include leader();

      .timeline_bar{
        height:4em;
        display:block;
        position:relative;
        background: lighten(black, 10%);
        }
        .timeline_slider{background:$peach;
                        width:10px;
                        position:absolute;
                        display:block;
                        height:100%;
                        z-index:10;}

        ul.timeline_years {list-style:none;
                           display:flex;
                           margin:0;
                           padding:0;
                           position:relative;
                           height:100%;
                           color:white;
                          li {flex:1;
                              border-left:1px solid white;}
                            }
        }
